<!DOCTYPE html>
<html>
  <head>
    <title>Список вопросов</title>
  </head>
  <body>
    <h3>Список вопросов теста <%= @test.title %></h3>
    
    <ol>
      <% @questions.each do |q| %>
      <li><a href="/questions/<%= q.id %>"><%= q.body %></a></li>
      <% end %>
    </ol>
    
  </body>
</html>
