<h4>Список вопросов теста <%= @test.title %></h4>

<%= link_to 'Добавить вопрос', new_test_question_path %><br><br>

<table>
  <%= render @questions %>
</table><br>

<%= link_to 'Назад', test_path(@test) %>
