<h4>Список ответов вопроса "<%= @question.body %>"</h4>

<table>
  <thead>
    <tr>
      <td>Вопросы</td>
      <td colspan="3">Операции</td>
    </tr>
  </thead>
  <tbody>
    <%= render @question.answers %>
  </tbody>
</table>
<br>

<%= link_to 'Назад', admin_test_path(@question.test) %>
