<!DOCTYPE html>
<html>
  <head>
    <title>Информация о вопросе</title>
  </head>
  <body>
    <p><b><%= @question.body %></b></p>
    
    <ol>
      <% @question.answers.each do |a| %>
      <li><%= a.body %></li>
      <% end %>
    </ol>
  </body>
</html>
