<li>
  <%= reward.name %> |
  <%= link_to t('.button_edit'), edit_admin_reward_path(reward) %> |
  <%= link_to t('.button_delete'), admin_reward_path(reward),
              method: :delete,
              data: { confirm: t('.confirm_delete') } %>
</li>
