<h4><%= t('.header_rewards') %></h4>

<div class="reward-group">
  <%= render @rewards %>
</div>

<h4><%= t('header_issued') %></h4>

<div class="issued_rewards-group">
  <%= render @issued_rewards %>
</div>