<div class="row text-right mt-3">
  <div class="col col-md-12">
    <% flash.each do |key, message| %>
      <%= content_tag :p, message,
        class: "#{flash_bootstrap_class(key)} flash border border-primary" %>
    <% end %>
  </div>
</div>
