<header>
	<div class="mailer-list">
		<%= link_to 'Mailer List', '/rails/mailers/tests_mailer/' %>
	</div>

	<div class="header">
		<% if user_signed_in? %>
			<p>Welcome, <%= current_user.username %>!</p>

			<%= link_to 'Logout', destroy_user_session_path, method: :delete  %>
		<% end %>
	</div>
</header>
