<li>
	<%= answer.body %>
	<%= link_to 'Изменить', edit_admin_test_question_answer_path(answer.question.test, answer.question, answer) %>
	<%= link_to 'Удалить', admin_test_question_answer_path(answer.question.test, answer.question, answer),
           method: :delete,
           data: { confirm: 'Вы уверены, что хотите удалить ответ?' } %>
</li>
