<li>
	<%= link_to question.body, admin_test_question_path(question.test, question) %>
	<%= link_to 'Изменить', edit_admin_test_question_path(question.test, question) %>
	<%= link_to 'Удалить', admin_test_question_path(question.test, question),
		method: :delete,
		data: { confirm: 'Вы уверены, что хотите удалить вопрос?' } %>
</li>
