<li>
	<%= link_to question.body, admin_question_path(question) %> |
	<%= link_to 'Удалить', admin_question_path(question),
		method: :delete,
		data: { confirm: 'Вы уверены, что хотите удалить вопрос?' } %>
</li>
