<h1>Список категорий</h1>

<%= link_to 'Добавить категорию', new_admin_category_path %><br><br>

<div class="category-list">
  <h4>Категории</h4>
  <ul>
    <%= render @categories %>
  </ul>
</div>
