<h4>Категория: <%= @category.title %></h4>

<div class="test-list">
	<h4>Тесты</h4>
	<ul>
		<%= render @category.tests %>
	</ul>
</div>

<div class="button-back">
	<%= link_to 'Назад', admin_root_path %>
</div>
