<h4>Информация о категории</h4>

<p>Наименование: <%= @category.title %></p>

<h4>Тесты категории</h4>

<table>
  <thead>
    <tr>
      <td>Тесты</td>
      <td colspan="4">Операции</td>
    </tr>
  </thead>
  <tbody>
    <%= render @category.tests %>
  </tbody>
</table>
<br>
<br>
<%= link_to 'Назад', categories_path %>
