.footer {
  background-color: #363636;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.footer a {
  color: #bf8b8b;
  text-decoration:none;
}

.footer a:hover {
  color: #a98bbf;
  text-decoration: underline;
}

.footer a:linked {
  color: #bf8b8b;
  text-decoration:none;
}