span.sup {
  vertical-align:super;
  font-size:12px;
}

span.sup a {
  text-decoration:none;
}
span.sup a:hover {
  text-decoration:underline;
}

.sup-red {
  color: #ff0000; 
}

table {
  border: 1px solid gray;
}

/* Test Passage Results */
div.results .result_good {
  color: #00c40a;
}
div.results .result_bad {
  color: #fc2803;
}