<tr>
  <td><%= link_to category.title, category_path(category) %></td>
  <td><span class="sup"><%= link_to 'Изменить', edit_category_path(category) %></span></td>
  <td><span class="sup">|</span></td>
  <td><span class="sup"><%= link_to 'Удалить', category_path(category),
           method: :delete,
           data: { confirm: 'Вы уверены, что хотите удалить тест?' } %></span></td>
<tr>