<h1><%= @category.title %></h1>
<h2><%= t('.tests') %></h2>

<div class="btn-group-vertical">
  <%= render @category.tests %>
</div>

<div class="button-back mt-1">
  <%= link_to t('.button_back'), categories_path %>
</div>
