<li>
  <%= link_to test.title, admin_test_path(test) %>
  <span><%= t('.questions') %>: <%= test.questions.count %></span> |
  <%= link_to t('.button_delete'), admin_test_path(test),
    method: :delete,
    data: { confirm: t('.confirm_delete') } %>
</li>
