<tr>
  <td><b><%= link_to test.title, test_path(test) %><b><sup>Кол-во вопросов: <%= test.questions.count %></sup></td>
  <td><sup><%= link_to 'Изменить', edit_test_path(test) %></sup></td>
  <td><sup>|</sup></td>
  <td><sup><%= link_to 'Удалить', test_path(test),
           method: :delete,
           data: { confirm: 'Вы уверены, что хотите удалить тест?' } %></sup></td>
<tr>