<div class="footer">
  <p>&copy; <%= footer_year(2020) %></p>
  <p>Автор: <a href="mailto:kagayakashi@hotmail.com" target="_blank">Вячеслав Одиноков</a></p>
  <p>Проект: <%= link_to_github 'kagayakashi', 'learn_rails', 'Тестирование' %>
    - анкетирование пользователей, проведение тестов для проверки ваших знаний.
  </p>
  
  <hr>

  <p>
    <a href="https://thinknetica.com/" target="_blank">Учебный проект в онлайн-школе Thinknetica"</a>
  </p>
</div>